@charset "utf-8";
/* CSS Document */


  
p {display: inline;}

									/* 		.CLASS  #ID    	*/

.cabecera{           background-color: #FEEF00;           color:black;           padding:30px 20px;           }

.imagen_taxi{           position:absolute;           top:0.625em;           right:0.313em;           }

.titulo{           margin: 0em;           top: 0.313em;           font-size:3em;           }

.parametros{           padding-left: 130px;           }

.historicoinicio{		position:absolute; 	right: 0.1em;	 top: 7.25em;	}

.historicofinal{		position:absolute; 	right: 0.1em;	 top: 9.25em;	}

.boton{		position:absolute; 	right: 5em;	 top: 11.25em;	}

.DivTodo{	 position: relative; width: 300px; background-color: red; margin-top: 20px; margin-left: 10px; border-bottom: 20px;	}

#fila_longitud,#fila_latitud,#fila_fecha,#fila_hora{           padding-left: 0.313em;           }

#googleMap{ margin-left: 1em;  width:98%;		height:37.438em;	}

#Boton_Real24{	font-size: 12px; width: 90px; height: 30px; text-align: center;	}

#autoc {        width: 175px; height: 25px; box-sizing: border-box; border-radius: 5px;  font-size: 15px; border-color: red; }

#contenedor div{            float:left;           }

#Boton_Real {	position:absolute; 	right: 1.3em;	 top: 2.25em;}

/*
10px=0.625em
20px=1.25em
5px=0.313em
150px=9.375em
8px=0.5em
535px=33.438em
940px=58.75em
*/


#Pulsalo {
    position: absolute;
    margin-top: 10px;
    margin-left: 40px;
}

#markerfecha2 {
    position: absolute;
    margin-left: -185px;
    margin-top: 14px;
    width: 20px;
    height: 20px;
}

#Pulsalo2 {
        position: absolute;
    margin-top: 10px;
    margin-left: 180px;
}

#markerfecha {
    position: absolute;
    margin-left: 20px;
    margin-top: 14px;
    width: 20px;
    height: 20px;
}
