@charset "utf-8";
/* CSS Document */


  
p {display: inline;}

									/* 		.CLASS  #ID    	*/

.cabecera{           background-color: #FEEF00;           color:black;           padding:30px 20px;           }

.imagen_taxi{           position:absolute;           top:0.625em;           right:0.313em;           }

.titulo{           margin: 0em;           top: 0.313em;           font-size:3em;           }

.parametros{           padding-left: 130px;           }

.historicoinicio{		position:absolute; 	right: 0.1em;	 top: 7.25em;	}

.historicofinal{		position:absolute; 	right: 0.1em;	 top: 9.25em;	}

.boton{	position:absolute; 	right: 5em;	 top: 11.25em;	}

#fila_longitud,#fila_latitud,#fila_fecha,#fila_hora{           padding-left: 0.313em;           }

#googleMap{ margin-left: 1em;  width:102em;		height:35.438em;	}

#contenedor div{            float:left;           }

#Boton_Real {	position:absolute; 	right: 1.3em;	 top: 2.25em;}

/*
10px=0.625em
20px=1.25em
5px=0.313em
150px=9.375em
8px=0.5em
535px=33.438em
940px=58.75em
*/

